<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Donor</title>
    <link rel="stylesheet" href="/assets/css/donor/results.css">
    

  </head>
  <body>

<div class="body">
    
      <h1>Blood Test Results </h1> <br><br>
      
      <table id= "results" class="table">
        
        <tr>
          <th>Date Tested</th>
          <th>Diabetes</th>
          <th>HIV</th>
          <th>Hepatitis B & C</th>
          <th>Chlamydia</th>
          <th>Syphilis</th>
        </tr>
        <% user.forEach(donor => { %>
        <tr>
          <td><%=donor.Date_Tested.toLocaleDateString('en-us', { weekday:"short", year:"numeric", month:"short", day:"numeric"}) %></td>
          <td><%=donor.Diabetes %></td>
          <td><%=donor.HIV %></td>
          <td><%=donor.HepatitisB_C%></td>
          <td><%=donor.Chlamydia %></td>
          <td><%=donor.Syphilis %></td>
        </tr>
        <% }) %>
      </table>
      
    </div>

</body>
</html>